html, body {
    height: 100%;
    margin: 0;
}

/* Wrapper to use flexbox layout */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Section */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 2.3rem;
}

.header-content p {
    margin: 5px 0;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.header-content .affiliations {
    font-size: 0.9rem;
    margin-top: 10px;
}


/* GitHub Link Styling */
.header-content a {
    color: #b0e0e6;
    /*color: white;  Change the link color to white */
    text-decoration: none; /* Remove underline from the link */
}

.header-content a:hover {
    text-decoration: underline; /* Optional: Add underline on hover for emphasis */
}

sup {
    font-size: 0.75em; /* Adjusts the size of the superscript to be smaller */
    vertical-align: super;
}

.button-container {
    display: flex;
    gap: 15px; /* Space between buttons */
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #5d5d5e;
    color: white;
    padding: 10px 15px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #555;
}

.github-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 1px;
}

/* Hero Image Section */
.hero-image {
    text-align: center;
    margin: 1px 0;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Main Content */
main {
    flex: 1; /* Allows main content to grow and push footer down */
    padding: 20px;
}

/* Description Section */
.description {
    margin-bottom: 40px;
}

.description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.description p {
    font-size: 1.0rem;
    line-height: 1.8;
    text-align: justify;
    margin: 20px 500px; /* 20px for top and bottom, 500px for left and right */
}

/* Media Section */
.media {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    margin: 0 500px; /* Margin for left and right */
}

.media h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: normal;
}

.videos, .photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    margin: 20px 10px; 
}

.photos img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 120px;
    text-align: justify;
}

.photos img.large-image {
    width: 400%; /* Or any other width that works for your design */
    max-width: 700px; /* Increase the max-width specifically for this image */
    border-radius: 10px;
    margin: 20px auto; /* Centering the image horizontally */
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Ensures footer is pushed to the bottom */
    width: 100%;
}
